<template>
  <v-container v-if="isContainerEnabled">
    <portal to="content-before">
      <OrsInnerToolbar
        title="Segurança Eletrônica"
        title-icon="mdi-shield-check"
      />
    </portal>
    <v-row
      v-if="isLoading"
      justify="center"
      class="mt-8"
    >
      <v-progress-circular indeterminate />
    </v-row>
    <v-row
      v-else-if="noResults"
      justify="center"
      class="mt-8"
    >
      <h3>
        Nenhum alarme para exibir
      </h3>
    </v-row>
    <v-row v-else>
      <v-col
        v-for="(alarm, alarmIdx) in alarms"
        :key="alarmIdx"
        xs="12"
        sm="6"
        md="4"
      >
        <OrsCard
          :title="alarm.tipoConta"
        >
          <v-list dense>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">
                  mdi-map-marker
                </v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="text-capitalize">
                  {{ getAddress(alarm) }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon color="primary">
                  mdi-account
                </v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  {{ alarm.centralParticao }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <template #footer>
            <v-btn
              rounded
              outlined
              small
              @click="onAlarmEventClick(alarm)"
            >
              Evento
            </v-btn>
            <v-btn
              rounded
              outlined
              small
              :to="{name: 'AlarmsServiceOrders', params: { alarmIdx }}"
            >
              Ordem de serviço
            </v-btn>
          </template>
        </OrsCard>
      </v-col>
    </v-row>
  </v-container>
  <router-view v-else />
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import OrsInnerToolbar from '@/components/OrsInnerToolbar.vue';
import OrsCard from '@/components/OrsCard.vue';
import joinFields from '@/lib/joinFields';

const alarmsList = createNamespacedHelpers('views/alarmsList');
const session = createNamespacedHelpers('session');

export default {
  name: 'AlarmsList',
  components: {
    OrsInnerToolbar,
    OrsCard,
  },
  computed: {
    ...alarmsList.mapGetters([
      'isLoading',
      'noResults',
    ]),
    ...alarmsList.mapState([
      'alarms',
    ]),
    isContainerEnabled() {
      const map = {
        AlarmsList: true,
        AlarmsServiceOrders: false,
      };
      return map[this.$route.name];
    },
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.loadAlarms();
      vm.addAccountChangeListener(vm.loadAlarms);
    });
  },
  beforeRouteLeave(to, from, next) {
    this.removeAccountChangeListener(this.loadAlarms);
    next();
  },
  methods: {
    ...session.mapMutations([
      'addAccountChangeListener',
      'removeAccountChangeListener',
    ]),
    ...alarmsList.mapActions([
      'loadAlarms',
    ]),
    getAddress(alarm) {
      return joinFields(
        ['fantasia', 'endereco', 'bairro', 'cidade', 'uf'],
        { from: alarm, transform: f => f.toLowerCase() },
      );
    },
    onAlarmEventClick(alarm) {
      const { linkEventos } = alarm;
      const url = new URL(linkEventos);

      const getEndpoint = () => `${url.protocol}//${url.host}${url.pathname}`;
      const getField = field => ({ [field]: url.searchParams.get(field) });

      const fields = {
        ...getField('central'),
        ...getField('senha'),
        ...getField('cliente'),
      };

      const form = document.createElement('form');
      form.action = getEndpoint();
      form.method = 'post';
      form.target = '_blank';
      form.style.display = 'none';

      const inputs = Object.keys(fields).map((fieldName) => {
        const input = document.createElement('input');
        input.name = fieldName;
        input.type = 'hidden';
        input.value = fields[fieldName];
        return input;
      });

      const submit = document.createElement('input');
      submit.type = 'submit';
      submit.value = 'Eventos';
      inputs.push(submit);

      inputs.forEach(i => form.appendChild(i));

      this.$el.appendChild(form);
      submit.click();
      this.$el.removeChild(form);
    },
  },
};
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162326890-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162326890-1');
</script>
