<template>
  <v-container
    fluid
    class="login"
  >
    <v-flex
      xs12
      md4
      offset-md4
    >
      <v-card ref="card">
        <v-card-text style="text-align: center">
          <img src="../assets/logo_blue.png">
          <h1 class="primary--text">
            Login Orsegups
          </h1>
        </v-card-text>
        <v-card-text>
          <v-form v-model="isFormValid">
            <v-text-field
              ref="username"
              v-model="username"
              :rules="usernameRules"
              label="Login"
              placeholder="Acesse com: Email ou Username."
              required
            />
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passwordRules"
              :type="showPassword ? 'text' : 'password'"
              name="input-10-2"
              label="Senha"
              placeholder="Digite sua senha"
              class="input-group--focused"
              @click:append="showPassword = !showPassword"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            text
            color="primary"
            @click="recover()"
          >
            Esqueci minha senha
          </v-btn>
          <v-spacer />
          <v-btn
            color="primary"
            rounded
            :disabled="!isFormValid"
            @click="submitForm()"
          >
            Acessar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
      />
    </v-overlay>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';

const login = createNamespacedHelpers('login');

export default {
  name: 'Login',
  data: () => ({
    username: null,
    showPassword: false,
    password: null,
    isFormValid: false,
    emailRule: null,
    email: null,
  }),

  computed: {
    ...login.mapState([
      'overlay',
    ]),
    emailRules() {
      return [
        this.$rules.email(),
      ];
    },
    usernameRules() {
      return [
        this.$rules.required(),
        // TODO: add these validations eventually
        // rules.username(),
        // rules.cpfCnpj(),
        // rules.email(),
      ];
    },
    passwordRules() {
      return [
        this.$rules.required(),
        this.$rules.min(4),
      ];
    },
  },
  methods: {
    ...login.mapMutations([
      'setOverlay',
      'setRecEmail',
    ]),
    ...login.mapActions(['login']),
    submitForm() {
      this.setOverlay(true);
      this.submit();
    },
    recover() {
      if (typeof this.$rules.email()(this.username) === 'string') {
        this.setRecEmail('');
      } else {
        this.setRecEmail(this.username);
      }
      this.$router.push(
        {
          name: 'Recover',
        },
      );
    },
    submit() {
      this.login({
        username: this.username,
        password: this.password,
        onSuccess: () => this.$router.push({
          name: 'Dashboard',
        }),
        onLogout: () => this.$router.push({
          name: 'Login',
        }),
      });
    },
  },
};
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162326890-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162326890-1');
</script>
<style lang="stylus" scoped>
.login /deep/ {
  .theme--light.v-sheet {
      border-radius: 10px;
      margin-top: 10vh;
      padding: 20px 30px 25px;
  }
  .theme--light.v-sheet h1 { font-weight: normal }
  .v-btn {
    text-transform: none;
  }
  .v-card__text input {
    padding-left: 5px;
    font-size: 14px;
  }
}
</style>
