@import './variables.css';

html div#app .primary--text {
  color: var(--primary-color-3) !important;
}
html .v-application .primary {
    background-color: var(--primary-color-3) !important;
    border-color: var(--primary-color-3) !important;
}
html .v-application .secondary {
    background-color: var(--primary-color-4) !important;
    border-color: var(--primary-color-4) !important;
}
html .v-application .accent--text {
    color: var(--primary-color-3) !important;
    caret-color: var(--primary-color-3) !important;
}
.primary--light {
    background-color: var(--secondary-color-1);
    border-color: var(--secondary-color-1);
}

.dark {
    background-color: var(--secondary-color-2);
    border-color: var(--secondary-color-2);
}

.light {
    background-color: var(--secondary-color-3);
    border-color: var(--secondary-color-3);
}

.success {
    background-color: var(--secondary-color-4);
    border-color: var(--secondary-color-4);
}

.square.alert {
    background-color: var(--secondary-color-5);
    border-color: var(--secondary-color-5);
}

.highlight {
    background-color: var(--secondary-color-6);
    border-color: var(--secondary-color-6);
}

a,
html .v-application a {
  color: var(--dash-color-3);
}

/* Tipografia */
#app .primary--text {
  font-weight: 500;
}

html .v-application,
html .v-data-table__wrapper th,
html thead.v-data-table-header span,
html .atencao .v-card__title,
html .v-card__title,
html .v-btn {
  font-family: 'Encode Sans', sans-serif;
}

html div[role="menu"] .v-list .v-list-item__title,
html .v-input .v-label,
html .v-text-field input,
html .v-text-field input::placeholder,
html .odash-leg,
html .nftp-tp {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.7;
  margin-bottom: 10px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 10px;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8;
  margin-bottom: 10px;
}
p {
  font-size: 14px;
}
a {
  font-weight: bold;
}

/* Themes (light and dark) */
.theme--light .v-card__title {
  color: var(--primary-color-3);
}
.theme--dark .v-card__title {
  color: var(--primary-color-2);
}

/* V-Avatar */
.v-avatar {
  border: solid 1px var(--primary-color-4);
  box-shadow: 0 0 1px 0px var(--primary-color-4) inset,
              0 0 1px 0px var(--primary-color-4);
  overflow: hidden;
}

/** Toasted **/
.toasted .primary .action, .toasted.toasted-primary .action {
  color: var(--primary-color-2);
}
hr.spacer {
  padding: 5px 0;
  border: none;
  min-width: 50px;
}
hr.spacer.md {
    padding: 15px 0;
}
hr.spacer.bg {
    padding: 25px 0;
}
.center--text {
  text-align: center;
}
html .v-btn:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
html .v-btn {
  text-transform: none;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
}
html .v-application {
  color: #464535;
}
.v-btn.v-btn--text:active, .v-btn.v-btn--text:focus, .v-btn.v-btn--text:hover {
    background-color: transparent !important;
    box-shadow: none !important;
}

html .v-btn.v-btn--text span.v-ripple__animation.v-ripple__animation--visible.v-ripple__animation--in {
  display: none !important;
}
html .v-btn--text:before {
    background-color: transparent !important;
}

html .v-btn--text:hover .v-btn__content span {
  text-decoration: underline;
}
div[role="menu"] .v-list .v-list-item {
    padding: 0 10px !important;
}
div[role="menu"] .v-list .v-list-item__title {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
}

div[role="menu"] .v-list-item {
  min-height: 32px;
}
html .v-input--switch__thumb.accent--text {
    background: var(--primary-color-2);
}
html .v-input--switch__track {
    background-color: #535353 !important;
    opacity: 1 !important;
}
html .v-input--switch__track.accent--text {
    background-color: var(--primary-color-3) !important;
    opacity: 1;
}
html body .v-input--switch__track {
    opacity: 1;
}
html .v-input--switch--inset .v-input--switch__track {
    width: 45px;
    height: 26px;
}

html .v-input--switch__thumb {
  background: var(--primary-color-2);
  top: calc(50% - 11px);
}

html .v-input {
  font-size: 14px;
  color: #000;
}

html .v-input .v-label {
  font-size: 14px;
  font-weight: normal;
  color: var(--primary-color-1);
}

html .v-card .v-input .v-label {
  color: var(--other-color-2);
}

html .v-card .v-input {
  color: var(--primary-color-1);
}

.v-text-field input::placeholder {
  color: var(--other-color-1) !important;
  font-size: 14px;
}
.v-text-field__slot label + * {
  padding-left: 7px !important;
}
.error--text .v-messages__wrapper * {
  color: var(--secondary-color-5) !important;
}
.v-data-table__wrapper th {
  color: var(--primary-color-3) !important;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.theme--light.v-data-table thead tr:last-child th {
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-color: var(--primary-color-3) !important;
}

html .theme--light.v-data-table tbody tr:not(:last-child) {
    border: none;
}

thead.v-data-table-header span {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--primary-color-3);
}

#app .theme--light.v-data-table {
    background-color: var(--primary-color-2);
    color: rgba(0,0,0,.87);
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
.atencao .v-card__title {
    background-color: var(--primary-color-3);
    color: var(--primary-color-2);
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
}
.atencao i.v-icon {
    color: var(--primary-color-2);
    margin-right: 9px;
    position: relative;
    top: 1px;
}
.atencao .v-card__text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary-color-1) !important;
}
.v-btn:not(.v-btn--round).v-size--large {
    padding: 10px 25px !important;
    min-height: 0 !important;
    height: auto;
}
.v-card.v-sheet {
  border-radius: 10px;
}
.v-card.v-sheet.theme--light {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--primary-color-2);
}
.v-card__title {
    font-size: 24px;
    font-weight: normal;
}
#app .v-btn--rounded {
    padding: 4px 20px;
}
#app .v-btn--outlined {
    color: var(--dash-color-3);
    font-weight: normal;
}
#app .v-btn--text {
    padding: 0 !important;
}
.v-btn--text:hover span > span {
    text-decoration: underline;
}
.v-menu__content .v-list.v-sheet.v-sheet--tile.theme--light {
    padding: 0;
    overflow: hidden;
}
.v-select-list .v-list.v-sheet > div {
    padding: 0 13px !important;
}
.v-list-item__content .v-input.v-input--checkbox {
    margin: 0;
}
.v-list-item__content .v-input__slot {
    margin-bottom: 0 !important;
}
.v-list-item__content .v-messages.theme--light {
    display: none;
}
.v-list-item__content .v-input--selection-controls__ripple:before {
  background-color: transparent !important;
}
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 8px;
}